.app-links {
  &-block {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    > li {
      margin: .5rem
    }
  }
}