.banner {
  &.wp-bootstrap-blocks-row {
    img {
      margin-bottom: 20px;
      max-height: 170px;

      @media (min-width: 786px) {
        margin-bottom: auto;
        max-height: none;
      }
    }
  }
}