.card {
  padding: 2.9rem 3.5rem!important;
  border-radius: 10px;
  box-shadow: 5px 4px 16px 1px rgba(0, 0, 0, 0.2);
  border: none;

  > * {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}