.site-footer {
  padding-top: 30px;

  &.bg-white {
    background-color: #fff;

    color: $dark;

    a,
    p{
      color: $dark;
    }
  }

  a {
    color: white;

    &:hover {
      color: $silverHover;
      text-decoration: none;
    }
  }
}