/**
 * Code below may seem slightly hardcody but
 */

.gform {
  &_wrapper {
    ul.gform_fields {
      display: -webkit-box!important;
      display: flex!important;
      flex-wrap: wrap!important;
      margin-right: -15px!important;
      margin-left: -15px!important;

      .gfield.gfield_error {
        background-color: initial!important;
        margin-bottom: 0!important;
        border-top: none!important;
        border-bottom: none!important;
        padding-bottom: 0!important;
        padding-top: 0!important;
        max-width: 100%!important;
      }

      input {
        width: 100%!important;
      }
    }

    form {
      margin-bottom: 0;
    }

    ul {
      @extend .list-unstyled;
    }

    li {
      @extend .form-group;
    }

    .gfield_required {
      padding-left: 1px;
      color: $danger;
    }

    input[type="email"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="week"],
    input[type="url"],
    select,
    textarea {
      @extend .form-control;

      width: 100%!important;
      padding: 0.375rem 0.75rem!important;
      font-size: 1rem!important;
    }

    .button {
      @extend .btn;
      @extend .btn-primary;
    }

    .gfield_error {
      .gfield_label {
        @extend .alert-danger;
      }

      input,
      select,
      textarea {
        @extend .alert-danger;
      }
    }
  }

  &_footer {
    text-align: center;

    [type="submit"] {
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  &_confirmation_message {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    @include alert-variant(theme-color-level('success', $alert-bg-level), theme-color-level('success', $alert-border-level), theme-color-level('success', $alert-color-level));
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  padding-top: 5px!important;
}

@media only screen and (min-width: 641px) {
  body .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100%!important;
  }
}

body .gform_wrapper div.validation_error {
  border: none!important;
}

.ginput {
  &_recaptcha {
    display: flex;
    justify-content: center;
  }
}