.header {
  &_transparent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    z-index: 999;

    border-bottom: 2px solid #fff;

    > .navbar {
      background-color: transparent;

      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
      
      h3 {
        color: #fff!important;
      }
    }

    a {
      color: #fff;

      &:hover {
        color: $silverHover;
      }
    }

    .btn.btn-primary {
      &:hover {
        a {
          color: #fff;
        }
      }
    }

    .navbar-toggler-icon {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNSknIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+);
    }
  }
}