.navbar {
  &-brand {
    > * {
      color: #fff;
    }
    
    &.size {
      &_medium {
        max-width: 140px;
      }

      &_large {
        max-width: 212px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-dark {
    p,
    .menu-name,
    .menu-item .nav-link {
      color: #fff;
    }
  }

  .menu-name {
    font-size: 22px;
    margin-top: .5rem;
  }

  p,
  .menu-item .nav-link {
    font-weight: 100!important;
  }

  .btn {
    padding: 0;

    &-light {
      .nav-link {
        @include btnLight;
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-nav {
      margin-left: auto;
      margin-right: 0!important;
    }

    .menu-item {
      + .btn {
        margin-left: 2.5rem;
      }

      .nav-link {
        padding-right: 1.1rem;
        padding-left: 1.1rem;
      }
    }

    .menu-name {
      padding-right: 1.1rem;
      padding-left: 1.1rem;
    }

    .btn {
      .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
    }
  }
}

footer > .navbar + .navbar {
  margin-top: 30px;
}