.social {
  display: flex;

  > * {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50px!important;

    flex-grow: 0!important;

    font-size: 16px!important;
    color: $baseColor;

    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $baseColor;
      color: white;
      border: 1px solid #fff;
    }

    + * {
      margin-left: 2.5rem !important;

      @media (max-width: 992px) {
        margin-left: 1rem !important;
      }
    }
  }
}

.navbar-brand +.social {
  margin-top: 2rem;
}