.widget {
  .widgettitle {
    font-size: 22px;
    display: block;

    margin-bottom: 1rem;
    line-height: 1.2;
    font-family: "proxima_nova_altbold", Georgia, sans-serif;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;


    li + li {
      margin-top: 1rem;
    }
  }

  a {
    display: block;
  }

  + .widget {
    margin-top: 20px;
  }
}