.container {
  > .container-fluid {
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2);
    margin-right: calc((100vw - 100%) / -2);
  }
}

.wp-bootstrap-blocks-parent {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  > .wp-block-cover {
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2);
    margin-right: calc((100vw - 100%) / -2);
  }

  > .wp-bootstrap-blocks-container,
  > .wp-block-cover {
    &:first-child {
      margin-top: -4.5rem!important;
    }

    &:last-child {
      margin-bottom: -4.5rem!important;
    }
  }
}