.w-full {
  width: 100%;

  &.row {
    min-width: 100%;
    width: auto;
  }
}

@media (min-width: 768px) {
  .p {
    &-large {
      padding-top: 7.5rem!important;
      padding-bottom: 7.5rem!important;
    }
  }
}

.w {
  &-medium {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }

  &-large {
    max-width: 1340px!important;
    margin-left: auto;
    margin-right: auto;
  }

  &-middle {
    max-width: 650px!important;
    margin-left: auto;
    margin-right: auto;
  }

  &-small {
    max-width: 400px!important;
    margin-left: auto;
    margin-right: auto;
  }
}

.mb-sm-20 {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.bs {
  &-normal {
    box-shadow: 0 3px 8px -5px rgba(0, 0, 0, 0.2);
  }

  &-none {
    box-shadow: none!important;
  }
}

.tt {
  &-uppercase {
    text-transform: uppercase!important;
  }
}

.text {
  &-center {
    &-sm {
      text-align: center;

      @media (min-width: 768px) {
        text-align: initial;
      }
    }
  }
}