.release-notes {
  &--item {
    ul {
      padding-left: 0;
    }

    li {
      @include checkListItem;
    }

    .card {
      &-title {
        color: $baseColor;
        margin-bottom: 2rem;
      }

      &-text {
        > * + ul {
          margin-top: 1.5rem;
        }

        ul:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }

    + hr {
      max-width: 40rem;
      margin-left: 0;
    }
  }
}

.widget_release-notes-archive {
  a {
    color: $muted;

    &.active {
      color: $baseColor;
      text-decoration: none;
      font-family: 'proxima_nova_altbold', Georgia, sans-serif;
    }
  }
}