.wp-block {
  max-width: 100%!important;

  &-wp-bootstrap-blocks-container {
    max-width: 100%!important;
  }

  &[data-type="wp-bootstrap-blocks/column"] {
    background-color: transparent!important;
  }

  &-column {
    margin-top: 1em;
    margin-bottom: 0!important;
  }
}

.editor-block-list__block-edit::before {
  background-color: transparent!important;
}