.feature-card {
  margin: 15px 0 0;
  padding: 1.5rem 1.8rem;

  display: flex;
  align-items: flex-start;

  @media (min-width: 992px) {
    padding: 2.8rem 3.125rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    p {
      margin-bottom: 1.25rem;
    }

    > * + * {
      margin-top: 1.25rem;
    }

    > img {
      height: 80px;

      & + * {
        margin-top: 1.5rem;

        @media (min-width: 992px) {
          margin-top: 3.125rem;
        }
      }
    }

    .btn-link {
      padding: 0;
      margin-top: auto;

    }
  }

  &.style-2 {
    .feature-card__box {
      align-items: center;
      text-align: center;

      > img {
        height: 135px;
      }
    }

    .btn {
      width: 200px;
      max-width: 100%;
    }
  }
}