.testimonials {
  width: 100vw;
  margin: 0 calc((100vw - 100%) / -2);

  @media  (min-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }

  &--list {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    &__item {
      margin-top: 120px;
      padding: 1.7rem;

      max-width: 555px;
      flex-grow: 1;

      outline: none;
    }
  }

  .slick-dots {
    padding: 0;
    margin: 1rem auto 0;

    display: flex;

    > * + * {
      margin-left: 10px;
    }

    li {
      list-style: none;

      &.slick-active {
        button {
          background-color: $baseColor;
          pointer-events: none;
        }
      }
    }

    button {
      color: transparent;
      background-color: $silver;
      border: none;
      border-radius: 50px;
      line-height: 0;

      height: 15px;
      width: 15px;

      outline: none;

      &:hover {
        background-color: $silverHover;
      }
    }
  }
}

.testimonial {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

  color: white;
  padding: 4rem 2rem 2rem;

  @media  (min-width: 768px) {
    padding: 4rem 4rem 2rem;
  }

  .testimonial {
    &--title,
    &--job-title {
      font-size: 1rem;
      text-align: center;
    }

    &--title,
    &--blockquote {
      color: #fff;
    }

    &--thumbnail {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -65%);
      border-radius: 100px;
      overflow: hidden;
      border: 2px solid #fff;
      text-align: left;

      img {
        filter: grayscale(1);
      }
    }
  }
}