// stylelint-disable declaration-no-important

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

.bg {
  &-primary {
    background-color: $baseColor!important;
  }

  &-grey {
    background-color: $grey!important;
  }

  &-dark {
    background-color: $spaceGrey!important;
  }

  &-white {
    background-color: #fff!important;
  }

  &-transparent {
    background-color: transparent !important;
  }
}
